.animate-bob {
  animation: MoveUpDown 7s ease-in-out infinite;
}

.animate-wind-up-spin {
  animation: WindUpAndSpin 3s ease-in-out;
}

@keyframes WindUpAndSpin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes MoveUpDown {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
