.animate-fade-in {
  animation: FadeIn 0.5s ease-in;
  &.fade-in-2s {
    animation: FadeIn 2s ease-in;
  }
}

.animate-bob {
  animation: MoveUpDown 5s ease-in-out infinite;
}

.animate-widen-narrow {
  animation: WidenNarrow 5s ease-in-out infinite;
}

.animate-spinner {
  animation: Spin 4s linear infinite;
}

.animate-wind-up-spin {
  animation: WindUpAndSpin 3s ease-in-out;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MoveUpDown {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes Spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes WindUpAndSpin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes WidenNarrow {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(2) scaleY(1.2);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
