// Colors
$superSaiyan: #fbbc42;
$dragonBall: #e76a24;
$vegeta: #1c4595;
$shenron: #4da167;
$trunks: #5d2e8c;
$coffee: #702911;
$charcoal: #24292f;

$offBlack: #01080a;
$offWhite: #e7e5e8;

// Nav
$navHeight: 76px;
